/* Fonts */

@font-face {
    font-family: CascadiaMedLight;
    src: url(fonts/CascadiaCode-Regular.otf);
}

@font-face {
    font-family: GangsterReg;
    src: url(fonts/gangstergrotesk-regular.ttf);
}



@font-face {
    font-family: GraphikNorm;
    src: url(fonts/Graphik-400-Regular.otf);
}

@font-face {
    font-family: GraphikLightNorm;
    src: url(fonts/Graphik-300-Light.otf);
}

@font-face {
    font-family: GraphikLightItal;
    src: url(fonts/Graphik-300-Light-Italic.otf);
}



/* Colors */
:root {
    /* Credit - Dracula Theme */
    --bg-color: #282a36;
    --cl-color: #44475a;
    --fg-color: #f8f8f2;
    --comment-color: #6272a4;
    --pink-color: #ff79c6;
    --red-color: #ff5555;
    --purple-color: #bd93f9;
    --yellow-color: #f1fa8c;
    --green-color: #50fa7b;
    --cyan-color: #8be9fd;

}

/* Custom Spans */

.cyan {
    color: var(--cyan-color);
}

.green {
    color: var(--green-color);
}

.red {
    color: var(--red-color)
}

.purple {
    color: var(--purple-color)
}

.yellow {
    color: var(--yellow-color)
}

.pink {
    color: var(--pink-color)
}

.comment {
    color: var(--comment-color)
}


/* Custom Selection Colors */

/* ::selection {
    background: var(--pink-color); 
  }
  ::-moz-selection {
    background: var(--pink-color); 
  } */

body {
    padding: 0;
    margin: 0;
    font-family: GangsterReg;
    color: var(--fg-color);
    background-color: var(--bg-color);
    /* overflow-x: hidden; */
    padding-bottom: 15rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline;
    
}

.edit-message {
    font-family: GraphikLightItal;
    font-size: 1rem;
    padding-left: 10%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    color: var(--comment-color);
    position: sticky;
    top: 0;
    padding-top: 2rem;
    z-index: 10;

}
.line-div {

    background-color: var(--bg-color);
    color: var(--cl-color);
    padding-left: 2rem;
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 2rem;
    clear:both;
    padding-left: 10%;
    display: block;
    right: 0;
    font-family: CascadiaMedLight;

}

.not-line {
    color: var(--fg-color);
    margin-right: 0;
    width: 92%;
    position: relative;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin-left: 4rem;
    padding: 0.1rem;
}
 .line-div:hover {
    transition-duration: 0.1s;

}

.line-div:hover > .line-number {
    color: var(--fg-color);
    transition-duration: inherit;
    transition: color inherit ease;
}

.line-div:hover > .not-line {
    background-color: var(--cl-color);
    transition-duration: inherit;
    
    -moz-border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    border-radius: 0.75rem;
} 

.line-div:hover > a {
    background: none;
    /* padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; */
}


.line-number {
    padding-top: none;
    margin-top: none;
    font-family: CascadiaMedLight;
    position: absolute;
    /* background-color: var(--bg-color); */
    font-size: 2rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}



a, a:active, a:visited, a:focus {
    text-decoration: none;
    color: inherit;
    /* background-color: var(--cl-color); */
    text-decoration: underline;
    transition-duration: inherit;
    background: var(--cl-color);
    padding: 0.25rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    border-radius: 0.5rem;
    }

a:hover {
    text-decoration: none;
    color: inherit;
    transition-duration: 0.25s;
    background: none;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
  }

.inline-comment {
    font-size: 1.5rem; 
    font-family:GangsterReg;
    color: var(--comment-color);
}

.ender {
    font-family: GangsterReg;
    font-size: 1.5rem;
    padding-left: 10rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    color: var(--cl-color);
    position: sticky;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 10rem;
    z-index: 10;
}

@media screen and (max-width: 768px) {
a {
    background-color: var(--cl-color);

}

a:hover {
    color: var(--cyan-color);

}

.inline-comment {
    font-size: 1.5rem;
}

.line-number {
    font-size: 1.5rem
}

.line-div {
    padding-left: 0rem;
}

.not-line {
    width: 80%;
    font-size: 1.5rem;
}


    
}

@media screen and (max-width: 1000px) {

    .not-line {
        width: 85%;
    }   
}
