/* Fonts */

@font-face {
    font-family: ApercuMono;
    src: url(fonts/apercu_mono_pro.otf);
}

@font-face {
    font-family: GraphikNorm;
    src: url(fonts/Graphik-400-Regular.otf);
}

@font-face {
    font-family: GraphikItal;
    src: url(fonts/Graphik-400-RegularItalic.otf);
}

@font-face {
    font-family: GraphikLightNorm;
    src: url(fonts/Graphik-300-Light.otf);
}

@font-face {
    font-family: GraphikLightItal;
    src: url(fonts/Graphik-300-Light-Italic.otf);
}

@font-face {
    font-family: ApercuMed;
    src: url(fonts/apercu_medium_pro.otf);
}

@font-face {
    font-family: ApercuReg;
    src: url(fonts/apercu_regular_pro.otf);
}

/* Colors */
:root {
    /* Credit - Dracula Theme */
    --bg-color: #282a36;
    --cl-color: #44475a;
    --fg-color: #f8f8f2;
    --comment-color: #6272a4;
    --pink-color: #ff79c6;
    --red-color: #ff5555;
    --purple-color: #bd93f9;
    --yellow-color: #f1fa8c;
    --green-color: #50fa7b;
    --cyan-color: #8be9fd;

}

/* Custom Spans */

.cyan {
    color: var(--cyan-color);
}

.green {
    color: var(--green-color);
}

.red {
    color: var(--red-color)
}

.purple {
    color: var(--purple-color)
}

.yellow {
    color: var(--yellow-color)
}

.pink {
    color: var(--pink-color)
}

.comment {
    color: var(--comment-color)
}


/* Custom Selection Colors */

/* ::selection {
    background: var(--pink-color); 
  }
  ::-moz-selection {
    background: var(--pink-color); 
  } */

body {
    padding: 0;
    margin: 0;
    font-family: ApercuMed;
    color: var(--fg-color);
    background-color: var(--bg-color);
    /* overflow-x: hidden; */
    padding-bottom: 15rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline;
    
}

.edit-message {
    font-family: GraphikLightItal;
    font-size: 1rem;
    padding-left: 10%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    color: var(--comment-color);
    position: sticky;
    top: 0;
    padding-top: 2rem;
    z-index: 10;

}
.line-div {

    background-color: var(--bg-color);
    color: var(--cl-color);
    padding-left: 2rem;
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 2rem;
    clear:both;
    margin-left: 10%;
    display: block;
    right: 0;
    font-family: ApercuMono;

}

.not-line {
    color: var(--fg-color);
    margin-right: 0;
    width: 92%;
    position: relative;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin-left: 4rem;
}
 .line-div:hover {
    transition-duration: 0.1s;

}

.line-div:hover > .line-number {
    color: var(--fg-color);
    transition-duration: inherit;
    transition: color inherit ease;
}

.line-div:hover > .not-line {
    background-color: var(--cl-color);
    transition-duration: inherit;
} 


.line-number {
    padding-top: none;
    margin-top: none;
    font-family: ApercuMono;
    position: absolute;
    /* background-color: var(--bg-color); */
    font-size: 2rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}



a, a:active, a:visited, a:focus {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
    transition-duration: inherit;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 1rem;
    text-align: center;
  }

.inline-comment {
    font-size: 1.5rem; 
    font-family:ApercuMed;
    color: var(--comment-color);
}

.ender {
    font-family: ApercuMed;
    font-size: 1.5rem;
    padding-left: 10rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    color: var(--cl-color);
    position: sticky;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 10rem;
    z-index: 10;
}